<!-- File: ./templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Neo Ighodaro">
        <title>ESP Image Matching</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/index.css">
      </head>
      <body>
        <div id="app">
          <form class="form-signin">
            <div class="text-center mb-4">
              <img class="mb-4" src="https://cdn4.iconfinder.com/data/icons/miscellaneous-8/128/9-Match_the_following-512.png" alt="" width="72" height="72">
              <h1 class="h3 mb-3 font-weight-normal">ESP Image Match</h1>
              <p>PUT IN YOUR DETAILS TO PLAY</p>
            </div>
            <div class="form-label-group">
                <input type="name" id="inputUsername" ref="username" class="form-control" placeholder="Username" required="" autofocus="">
                  <label for="inputUsername">Username</label>
            </div>
            <div class="form-label-group">
              <input type="email" id="inputEmail" ref="email" class="form-control" placeholder="Email address" autofocus="" required>
                <label for="inputEmail">Email address</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="login">Connect</button>
          </form>         
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
        <script src="static/js/index.js"></script>
    </body>
</html>
